body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  margin-left: 10px;
}

/* ContactForm styles */
.contact-form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 320px;
}

.contact-form input,
.contact-form button {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* SearchBox styles */
.search-box {
  margin: 10px;
  margin-bottom: 20px;
  width: 320px;
}

.search-box input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

/* ContactList styles */
.contact-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.contact-list li {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc((100% - 30px) / 4);
  border: solid 1px black;
}

.contact-list li button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.contact-list-div {
  display: flex;
  flex-direction: column;
}