.list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 12px;
}
.contactItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid black;
    border-radius: 4px;

    padding: 8px 12px;
    width: 280px;

    background-color: #fff;
}